**/*
!/build/
!/components/
!/config/
!/helpers/
!/layouts/
!/pages/
!/public/
!/server/
!/steps/
!/storage/
!/types/
!/babel.config.js
!/Dockerfile
!/LICENCE
!/next-env.d.ts
!/next.config.js
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.json
